*{
	margin:0;
	padding: 0;
}

.jumbotron {
	background: rgba(0,0,0,0.0001) !important;
	font-family: 'Montserrat', sans-serif;
	margin-top: 4%;
}
.content {
	position:relative; 
    padding-bottom: 20vh;
}
